<!--<div>
  <h1>{{title}}</h1>
  <img [src]="imageUrl" alt="Flower image">
  <h1>Hello, this is my first Angular application.</h1>
  
  <label>Username :</label>
  <input type="text" name="username" [(ngModel)]="username" placeholder="Enter your name">
  <p>Hello, {{username}}</p>

  <label>Password :</label>
  <input type="password" name="password" [(ngModel)]="password" placeholder="Enter your password">  
  <p>Your password is: {{password}}</p> 

  <button (click)="showMessage()">Click me</button>
  <p *ngIf="isButtonClicked">{{msg}}</p>

  <p *ngIf="true">This will always display because the condition is true.</p>
  <p *ngIf="false">This will never display because the condition is false.</p>

  <p *ngIf="isLoggedIn">Welcome back, user!</p>
  <p *ngIf="!isLoggedIn">Please log in to continue.</p>

  <button (click)="isLoggedIn = !isLoggedIn">
    {{ isLoggedIn ? 'Log Out' : 'Log In' }}
  </button>
</div>

<app-welcome></app-welcome>
<app-aboutus></app-aboutus> -->
<app-lifecycle></app-lifecycle>

